<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body bgcolor="#faebd7">
<br>
<table style="width:80%">
  <tr>
    <th>zoektermen</th>
    <th>Organisme</th>
    <th>Lox</th>
	<th>auteur</th>
	<th>versienummer</th>
	<th>Datum</th>
  </tr>
  <tr>
    <td></td>
    <td></td> 
    <td></td>
	<td></td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td> 
    <td></td>
	<td></td>
    <td></td> 
    <td></td>
  </tr>
</table>
<style>
table, th, td {
    border: 1px solid black;
}
</style>

</body>
</html>